<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head" />
    @RenderSection("HeadBlock", required: false)
</head>
<body class="mod-bg-1 mod-nav-link mod-nav-link @ViewBag.PreemptiveClass">
    <partial name="_ScriptsLoadingSaving" />
    <div class="page-wrapper">
        <div class="page-inner">
            <partial name="_LeftPanel" />
            <div class="page-content-wrapper">
                <input type="hidden" id="global-schema" value="@ViewContext.HttpContext.Request.Scheme" />
                <input type="hidden" id="global-host" value="@ViewContext.HttpContext.Request.Host" />
                <input type="hidden" id="global-pathBase" value="@ViewContext.HttpContext.Request.PathBase" />
                <input type="hidden" id="global-controller" value="@ViewContext.RouteData.Values["controller"].ToString()" />
                <input type="hidden" id="global-action" value="@ViewContext.RouteData.Values["action"].ToString()" />

                <partial name="_PageHeader" />
                <main id="js-page-content" role="main" class="page-content">
                    @if (ViewBag.PreemptiveClass?.Length > 0)
                    {
                    }
                    else
                    {
            <partial name="_PageBreadcrumb" />
                            <div class="subheader">
                                <partial name="_PageHeading" />
                                @RenderSection("Subheaderblock", required: false)
                            </div>}
                    @RenderBody()
                </main>
                <partial name="_PageContentOverlay" />
                <partial name="_PageFooter" />
                <partial name="_ShortcutModal" />
                <partial name="_ColorProfileReference" />
            </div>
        </div>
    </div>
    <partial name="_ShortcutMenu" />
    <partial name="_ShortcutMessenger" />
    <partial name="_PageSettings" />
    @*<partial name="_GoogleAnalytics" />*@
    <partial name="_ScriptsBasePlugins" />
    @RenderSection("ScriptsBlock", required: false)
</body>
</html>